.firebase-container {
  margin-bottom: 1rem;
}

/* Move down the modal dialog box */
div.modal.fade.show {
  top: 15%;
}

.acct-page-button-container {
  text-align: center;
}

.acct-page-button-container button {
  margin-bottom: 1.5rem;
}
