#firebaseui_container {
  margin-bottom: 1rem;
}

body > div:nth-child(6) > div > div.modal.fade.show {
  top: 5%;
}

#root > main > div > div:nth-child(1) {
  text-align: center;
}

button.btn.btn-primary {
  margin-bottom: 1.5rem;
}

#root > main > div > div:nth-child(2) {
  text-align: center;
}

button.btn.btn-warning {
  margin-bottom: 1.5rem;
}