/*
 * This file contains styling rules for the comparison chart page of the site
 */



/* WARNING: .dropdown is a reserved class for ReactStrap; rename to comparison-dropdown*/
.comparison-dropdown {
    display: flex;
    margin-left: 22%;
    flex-direction: row;
    padding-bottom: 2rem;
    justify-content: space-evenly;
}

.btn.btn-secondary.dropdown-toggle {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 768px) {
    .comparison-dropdown {
        /* The first column in the table occupies 173.31 of space*/
        margin-left: 173px;
    }
    .btn.btn-secondary.dropdown-toggle {
        padding-left: 16px;
        padding-right: 16px;
        /*margin: 0% 10%;*/
    }
}

/* Chart */

.chart-content {
    display: grid;
    grid-auto-flow: column;
}

/* Columns */

.header-column {
    background-color: lightgray;
    display: grid;
    max-width: 120px;
    padding-left: 5px;
    margin-right: 20px;
    font-weight: bold;
}

.column {
    display: grid;
    max-width: 250px;
}


/* Cells */

.chart-cell {
    margin: 0;
    padding: 0.5em;
    min-height: 100px; /* Line height for rest of cells (larger value for mobile device to take account metadata text overflow that cause mis-alignment to cells) */
}

/* Special setting for name and picture rows*/
.name-row {
    min-height: 100px;
}

.picture-row {
    min-height: 100px;
}

/* Try to position Name and Picture text vertically center */
.header-column .name-row {
    padding-top: 20px;
}

.header-column .picture-row {
    padding-top: 40px;
}

.comparison-tile-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
/* Reduce the star size to prevent overflow*/
@media (max-width: 576px) {
    .comparison-page-star {
        font-size: 85%;
    }
}

/* Media quaries*/
@media (min-width: 576px) {
    .header-column {
        /* The header column should be wider on tablet and larger screen*/
        max-width: 200px;
    }

    .name-row {
        min-height: 90px;
    }


    .header-column .picture-row {
        padding-top: 40px;
    }

    /* Larger font size for plane name */
    .column .name-row {
        font-size: 1.25em;
        font-weight: bold;
    }

    .chart-cell {
        min-height: 75px; /* Line height for rest of cells */
    }

    .picture-row {
        min-height: 100px;
    }

}

@media (min-width: 1024px) {
    .comparison-tile-image {
        height: 150px;
    }
    .header-column .picture-row {
        padding-top: 60px;
    }
    .picture-row {
        min-height: 150px;
    }
}
