/*
 * This file contains styles for special elements on the plane information
 * page.
 */

/* Root content container */

.plane-info-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

/*Desktop: Style the left column in the plane info page*/
.plane-info-left-column {
    display: flex;
    justify-content: center; /* Ensure all content is center-positioned */
    flex-wrap: wrap;
    max-width: 100%;
    margin: 8px;
}

/* Plane image */

/* Ensure the airplane picture is at the center of its parent container*/
.plane-info-plane-img-container {
    display: flex;
    justify-content: center; /* Ensure all content is center-positioned */
}

.plane-info-plane-img {
    /*text-align: center;*/
    /*display: block;*/
    width: 80%;
    max-width: 450px;
    height: auto;
}

/* Plane data */

.plane-info-data-container {
    margin-left: 8px;
    margin-right: 8px;
}

/* Plane widgets */

.plane-info-widgets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Plane specification */

.plane-info-spec {
    width: 100%;
}

.plane-info-spec tr:nth-of-type(even) {
    background-color: #eee;
}

/* Plane note-taking*/
.plane-info-note-editor {
    margin: 30px 8px 8px 8px;
}

/* Media queries */

@media (min-width: 768px) {
    .plane-info-data-container {
        min-width: 480px;
        margin-right: 16px;
    }
}

@media (min-width: 1024px) {
    .plane-info-plane-img-container {
        width: 600px;
    }
    .plane-info-content {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 24px;
    }

    .plane-info-left-column{
        max-width: 50%;
    }
}
