/* Use system font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Limit width of body on wide screens */
@media (min-width: 768px)
{
    body {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Add a line underneath the header */
header {
    border-bottom: solid 4px black;
}

/* For best visual effect, remove margin of the last header element */
header :last-child {
    margin-bottom: 0;
}

img {
    width: auto;
    height: auto;
    /* Limit the size of images */
    max-width: 100%;
    max-height: 400px;
    /* Center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Add animation for visual feedback */
    transition: all 0.2s ease-in-out;
}

/* Provide visual feedback when a image in a link is hovered */
a:hover img {
    opacity: 66.67%;
}

a {
    color: #2068c5;
}

a:visited {
    color: #184e94;
}

a:hover {
    color: #588ed4
}

p, li {
    line-height: 1.25;
}

/* Add space between list items */
li + li {
    margin-top: 12px;
}
